<table class="table-auto">
    <thead class="p-4 bg-skyblue-300">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes;">
            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
            <td>{{hero.firstName}}</td>
            <td>{{hero.lastName}}</td>
            <td>{{hero.location}}</td>
        </tr>
    </tbody>
</table>
<table class="table-fixed max-w-lg">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
      <td>Malcolm Lockyer</td>
      <td>1961</td>
    </tr>
    <tr>
      <td>Witchy Woman</td>
      <td>The Eagles</td>
      <td>1972</td>
    </tr>
    <tr>
      <td>Shining Star</td>
      <td>Earth, Wind, and Fire</td>
      <td>1975</td>
    </tr>
  </tbody>
</table>
<h1 class="text-3xl font-bold text-purple-600 underline">
  Hello world!
</h1>
<router-outlet/>